.warna {
  width: 15.60%;
  height: 20px;
  border:1px solid white;
  border-radius: 1px;
}

.blue {
  background-color: #13b4ff;
}

.purple {
  background: #ab3fdd;
}

.wine {
  background: #ae163e;
}
.aqua{
	background:aqua; 
}
.grey{
	background: grey;
}
.pink{
	background: pink;
}
.red{
	background: red;
}

body{
	background-color: black;
}

ul.listColor{
	list-style-type: none;
	overflow: hidden;
}
li{
	display: inline-block;
}
.footer{
	margin-top: 20px;
}
h1{
	color:gold;
	text-align: center;
	font-family: Verdana;
}

.content{
	border:150px solid black;
	background-color: white;
}
img{
  	width: 15%;
  	display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}
h2{
	font-family: Tahoma;
	text-align: center;
}
h3{
	text-align: center;
}
h4{
	text-align: left;
}
.garis{
	width: 100%;
	height:5px;
	border-radius: 5px;
}

ul.list-pl{
	list-style-type: none;
	overflow: hidden;
}
.list-pl li{
	display: inline-block;
	width: 30%;
}
ul.list-edu{
	list-style-type: none;
	overflow: hidden;
}
.list-edu li{
	display: inline-block;
	width: 22%;
	text-align: center;
}

ul.other{
	list-style-type:circle;
}
.other li{
	display: list-item;
}